<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en"> 
<head>
	<title>DIP 2016</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/custom.css">
	
	<script src="./js/jquery.js"></script>
	<script src="./js/jquery-ui.js"></script>
	<script src="./ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="./ace/src/theme-tomorrow_night_blue.js" type="text/javascript" charset="utf-8"></script>
	<script src="./ace/src/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://kempelen.ii.fmph.uniba.sk/pario/socket.io/socket.io.js"></script>
</head>
<body>
<header class="navbar navbar-inverse">
	<div class="container">
		<nav role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h4 class="nav" style="color:white; font-size:160%;">ParEasy</h4>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="welcome.html"> Home </a></li>	
						<li><a href="lectures.html"> Lectures </a></li>						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Projects <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="projects.html" >My Projects</a></li>
								<li><a href="shared_projects.html" >Shared projects</a></li>
							</ul>
						</li>	
						<li><a href="guide.html"> Guide </a></li>							
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="projects.html" >My Projects</a></li>
								<li><a href="shared_projects.html" >Shared projects</a></li>
								<li><a href="guide.html" >Guide</a></li>
								<li class="divider"></li>
								<li><a href="welcome_logout.html" >Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
	<script>
	
		var query = window.location.search.substring(1);
		var vars = query.split("&");
		var user = vars[0];
		var project = vars[1];
		
		var socket = io('http://kempelen.ii.fmph.uniba.sk', {path: '/pario/socket.io'});
		socket.on('reading shared file', function (data) {
			socket.emit('reading shared data', { id:user, project:project});
			socket.on('the shared result', function (read) {
				$('#project_name').html(read['name']);
				$('#project_desc').html(read['desc']);
				editor.setValue(read['file1']);
				editor2.setValue(read['file2']);
				editor3.setValue(read['file3']);
				editor4.setValue(read['file4']);
				editor5.setValue(read['file5']);
			});
		});
		
				
		$(function() {
			$("a").attr('href', function(i, h) {
				return h +"?"+user;
			});
		});

		function open1(){
			document.getElementById('function_core').style.display = "none";
			document.getElementById('function_start').style.display = "block";
			document.getElementById('function_prepare').style.display = "none";
			document.getElementById('function_take').style.display = "none";
			document.getElementById('function_plus').style.display = "none";
			$('#open1').css({"background-color":"#66ffff", "text-decoration":"none"});
			$('#open2').css({"background-color":"white", "text-decoration":"none"});
			$('#open3').css({"background-color":"white", "text-decoration":"none"});
			$('#open4').css({"background-color":"white", "text-decoration":"none"});
			$('#open5').css({"background-color":"white", "text-decoration":"none"});
		}
		
		function open2(){
			document.getElementById('function_core').style.display = "block";
			document.getElementById('function_start').style.display = "none";
			document.getElementById('function_prepare').style.display = "none";
			document.getElementById('function_take').style.display = "none";
			document.getElementById('function_plus').style.display = "none";
			$('#open1').css({"background-color":"white", "text-decoration":"none"});
			$('#open2').css({"background-color":"#66ffff", "text-decoration":"none"});
			$('#open3').css({"background-color":"white", "text-decoration":"none"});
			$('#open4').css({"background-color":"white", "text-decoration":"none"});
			$('#open5').css({"background-color":"white", "text-decoration":"none"});
		}
		
		function open3(){
			document.getElementById('function_core').style.display = "none";
			document.getElementById('function_start').style.display = "none";
			document.getElementById('function_prepare').style.display = "block";
			document.getElementById('function_take').style.display = "none";
			document.getElementById('function_plus').style.display = "none";
			$('#open1').css({"background-color":"white", "text-decoration":"none"});
			$('#open2').css({"background-color":"white", "text-decoration":"none"});
			$('#open3').css({"background-color":"#66ffff", "text-decoration":"none"});
			$('#open4').css({"background-color":"white", "text-decoration":"none"});
			$('#open5').css({"background-color":"white", "text-decoration":"none"});
		}
		
		function open4(){
			document.getElementById('function_core').style.display = "none";
			document.getElementById('function_start').style.display = "none";
			document.getElementById('function_prepare').style.display = "none";
			document.getElementById('function_take').style.display = "block";
			document.getElementById('function_plus').style.display = "none";
			$('#open1').css({"background-color":"white", "text-decoration":"none"});
			$('#open2').css({"background-color":"white", "text-decoration":"none"});
			$('#open3').css({"background-color":"white", "text-decoration":"none"});
			$('#open4').css({"background-color":"#66ffff", "text-decoration":"none"});
			$('#open5').css({"background-color":"white", "text-decoration":"none"});
		}
		
		function open5(){
			document.getElementById('function_core').style.display = "none";
			document.getElementById('function_start').style.display = "none";
			document.getElementById('function_prepare').style.display = "none";
			document.getElementById('function_take').style.display = "none";
			document.getElementById('function_plus').style.display = "block";
			$('#open1').css({"background-color":"white", "text-decoration":"none"});
			$('#open2').css({"background-color":"white", "text-decoration":"none"});
			$('#open3').css({"background-color":"white", "text-decoration":"none"});
			$('#open4').css({"background-color":"white", "text-decoration":"none"});
			$('#open5').css({"background-color":"#66ffff", "text-decoration":"none"});
		}
	
	function addFunction(){
		$('#addFunction').hide();
		$('aside').append("<a href='javascript:;' id='open5' onclick='open5();'>help_functions</a>​<br />")
	}
	
	function try_it(){
		var socket = io('http://kempelen.ii.fmph.uniba.sk', {path: '/pario/socket.io'});
		socket.on('trying shared', function (data) {
			socket.emit('try shared file', { project_id:project });
			window.open("./results.html");
		});
	}
	
	</script>
	
<div class="container">

	<h1 id="project_name"></h1>
	<br />
	<div id="project_desc"></div>
	<br />
	<aside>
		<a href="javascript:;" id="open1" onclick="open1();" style="display:block;width:90%;padding:3px;">start</a>
		<a href="javascript:;" id="open2" onclick="open2();" style="display:block;width:90%;padding:3px;">core</a>
		<a href="javascript:;" id="open3" onclick="open3();" style="display:block;width:90%;padding:3px;">prepare_data</a>
		<a href="javascript:;" id="open4" onclick="open4();" style="display:block;width:90%;padding:3px;">take_data</a>
		<a href="javascript:;" id="open5" onclick="open5();" style="display:none;display:block;width:90%;padding:3px;">function_plus</a>
	</aside>
	<br />	

	<section>
	<div class="col-xs-6" id="function_start" style="display:none;">
			<div id="editor">function start(){}</div>		
			<script>
				var editor = ace.edit("editor");
				editor.setTheme("ace/theme/tomorrow_night_blue");
				var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
				editor.session.setMode(new JavaScriptMode());
				editor.setOptions({
					readOnly: true,
					highlightActiveLine: false,
					highlightGutterLine: false
				})
			</script>			
	</div>
	
	<div class="col-xs-6" id="function_core" style="display:none;">
			<div id="editor2">function core(){}</div>	
			<script>
				var editor2 = ace.edit("editor2");
				editor2.setTheme("ace/theme/tomorrow_night_blue");
				var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
				editor2.session.setMode(new JavaScriptMode());
				editor2.setOptions({
					readOnly: true,
					highlightActiveLine: false,
					highlightGutterLine: false
				})
			</script>			
	</div>
	
	<div class="col-xs-6" id="function_prepare" style="display:none;">
			<div  id="editor3">function prepare(){}</div>	
			<script>
				var editor3 = ace.edit("editor3");
				editor3.setTheme("ace/theme/tomorrow_night_blue");
				var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
				editor3.session.setMode(new JavaScriptMode());
				editor3.setOptions({
					readOnly: true,
					highlightActiveLine: false,
					highlightGutterLine: false
				})
			</script>			
	</div>
	
	<div class="col-xs-6" id="function_take" style="display:none;">
			<div id="editor4">function take(){}</div>		
			<script>
				var editor4 = ace.edit("editor4");
				editor4.setTheme("ace/theme/tomorrow_night_blue");
				var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
				editor4.session.setMode(new JavaScriptMode());
				editor4.setOptions({
					readOnly: true,
					highlightActiveLine: false,
					highlightGutterLine: false
				})
			</script>			
	</div>
	
	<div class="col-xs-6" id="function_plus" style="display:none;">
			<div id="editor5"></div>		
			<script>
				var editor5 = ace.edit("editor5");
				editor5.setTheme("ace/theme/tomorrow_night_blue");
				var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
				editor5.session.setMode(new JavaScriptMode());
				editor5.setOptions({
					readOnly: true,
					highlightActiveLine: false,
					highlightGutterLine: false
				})
			</script>			
	</div>
	
	</section>
	
</div>
<br />
	<div>
		<button id="run_button" class="btn btn-info" onclick="try_it();">RUN</button>
	</div>
	<br />
<div class="navbar navbar-default" >
	<div class="container">
		<p class="navbar-text">UK FMFI 2017</p>
	</div>
</div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
